#keyboardWrapper {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	width: 600px;
}

div.container {
	width: 70%;
	margin-left: auto;
	margin-right: auto;	
}

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */  
}

input {
	-webkit-user-select: all;  /* Chrome all / Safari all */
	-moz-user-select: all;     /* Firefox all */
	-ms-user-select: all;      /* IE 10+ */
	user-select: all;          /* Likely future */  
}

.pure-button {
    padding: 1em 1em;
    border-radius: 6px;
    font-weight: 600;
}
