.qh-white {
	box-sizing: content-box;
	background-color: #FFF;
	border: 1px solid #000;
	border-right: 0;
	height: 150px;
	width: 41px;
	border-radius: 0 0 5px 5px;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.qh-white.playing {
	background-color: #888;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.qh-black {
	position: absolute;
	box-sizing: content-box;
	background-color: #000;
	border-radius: 0 0 3px 3px;
	height: 100px;
	border: 1px solid #000;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.qh-black.playing {
	background-color: #A11;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}